.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 500px;
}

.link {
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 5px;
  display: inline-block;
  margin-top: 40px;
  transition: all 0.3s;
}

.link:hover {
  background-color: #ddd;
}
