.header {
  --header-height: 100vh;
  --header-width: 60px;

  background-color: #ccc;
  height: var(--header-height);
  width: var(--header-width);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
