:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --container-padding: 20px;

  --color-border: #656565;
  --color-navigation: #323232;
  --color-navigation-hover: #a6a6a6;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}
