.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
}

.main {
  display: block;
  flex: 1 1 auto;
}

.side {
  width: 300px;
  padding: var(--container-padding);
}
